<!DOCTYPE html>
<html layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        System
        <small>Edit User</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cog"></i> Admin</a></li>
        <li class="active">Edit User</li>
    </ol>
</section>
<div layout:fragment="content">

</div>

<th:block layout:fragment="script">
    <script src="/dist/js/pages/dashboard.js"></script>
</th:block>
</body>
</html>