<!DOCTYPE html>
<html layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        System
        <small>List Users</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cog"></i> Admin</a></li>
        <li class="active">List Users</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">

            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    There was some error in registration.
                </div>
            </div>

            <div th:if="${param.email}">
                <div class="alert alert-danger">
                    There is already a user registered with the email provided.
                </div>
            </div>

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Successfully registered new user.
                </div>
            </div>


            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Users</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="box-footer center">
                        <a th:href="@{/admin/user/create}">
                            <button class="btn btn-primary pull-right" type="button"><i class="fa fa-plus"></i> Add New
                            </button>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table aria-describedby="example1_info" class="table table-bordered table-striped dataTable"
                                   id="example1"
                                   role="grid">
                                <thead class="thead">
                                <tr>
                                    <th>User ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Active</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${listUsers.content}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td>
                                        <span class='label label-warning' th:each="role : ${user.roles}"
                                              th:text="${role.name}"></span>
                                    </td>
                                    <td th:if="${user.isActive}"><span class="label label-success">Active</span></td>
                                    <td th:if="${!user.isActive}"><span class="label label-danger">Not Active</span>
                                    </td>
                                    <td th:text="${user.createdAt}"></td>
                                    <td th:text="${user.updatedAt}"></td>
                                    <td>
                                        <a class="btn btn-primary btn-xs purple editView" href="#"
                                           th:href="@{'/admin/user/edit/' + ${user.id}}"
                                           title="Edit"><i class="fa fa-edit"></i> Edit</a>
                                        <a class="btn btn-danger btn-xs purple" href="#"
                                           th:href="@{'/admin/user/changeStatus/' + ${user.id} + '/false'}"
                                           th:if="${user.isActive}"
                                           title="Deactivate">
                                            <i class="fa fa-trash-o"></i> Deactivate
                                        </a>
                                        <a class="btn btn-success btn-xs purple" href="#"
                                           th:href="@{'/admin/user/changeStatus/' + ${user.id} + '/true'}"
                                           th:if="${!user.isActive}"
                                           title="Activate">
                                            <i class="fa fa-play"></i> Activate
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--</div>-->

                    <div class="dataTables_paginate paging_bootstrap">
                        <ul class="pagination" th:each="pageNumber : ${pageNumbers}"
                            th:if="${listUsers.totalPages > 0}">
                            <li th:class="${pageNumber==listUsers.number + 1} ? active">
                                <a th:href="@{/admin/user/list(size=${listUsers.size}, page=${pageNumber})}"
                                   th:text=${pageNumber}>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

</div>

<th:block layout:fragment="script">
    <script>
       $(function () {
            $('#example1').DataTable({
              'pagingType'  : 'full_numbers',
              'paging'      : false,
              'lengthChange': false,
              'searching'   : false,
              'ordering'    : true,
              'info'        : true,
              'autoWidth'   : false
            })
        })






    </script>
</th:block>

</body>
</html>