<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview" sec:authorize="hasAuthority('ADMIN')">
            <a href="#">
                <i class="fa fa-cog"></i> <span>Admin</span>
                <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
            </a>
            <ul class="treeview-menu">
                <li><a th:href="@{/admin/user/create}"><i class="fa fa-users"></i> Create User</a></li>
                <li><a th:href="@{/admin/user/list}"><i class="fa fa-user-plus"></i> List Users</a></li>
                <li><a th:href="@{/admin/role/list}"><i class="fa fa-sitemap"></i> List Groups</a>
                </li>
            </ul>
        </li>
    </ul>
</section>
<!-- /.sidebar -->